<!doctype html>
{% load static %}

<html lang="es" data-bs-theme="auto">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HOME</title>

  {% include 'Importaciones/head_css.html' %}
</head>

<body>

  {% include 'Complementos/navBar.html' %}

  <main class="py-4">

    <div class="container my-5">
      <div class="row p-4 pb-3 align-items-center rounded-3 border shadow-lg">

        <div class="col-12 mb-3">
          <h3 class="mb-1">Panel principal</h3>
        </div>

        <!-- BOTONES -->
        <div class="col-12">
          <div class="row g-2">

            <div class="col-12 col-sm-6 col-lg-3">
              <a class="btn btn-primary w-100 fw-bold" href="{% url 'data_estado' %}">Data de Cargo</a>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <a class="btn btn-primary w-100 fw-bold" href="{% url 'registrar_estado' %}">Registrar Cargo</a>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <a class="btn btn-primary w-100 fw-bold" href="{% url 'data_reserva' %}">Data de Reserva</a>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <a class="btn btn-primary w-100 fw-bold" href="{% url 'registrar_reserva' %}">Registrar Reserva</a>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <a class="btn btn-primary w-100 fw-bold" href="{% url 'data_estado_api' %}">Data de Cargo API</a>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <a class="btn btn-primary w-100 fw-bold" href="{% comment %} {% url 'crud-cargo-api/' %} {% endcomment %}">CRUD de Cargo API</a>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-3">
                <a class="btn btn-primary w-100 fw-bold" href="{% url 'data_reserva_api' %}">Data de Reserva API</a>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-3">
              <a class="btn btn-primary w-100 fw-bold" href=" {% comment %} {% url 'crud-reserva-api/' %} {% endcomment %}">CRUD de Reserva API</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <p class="text-center">Para el CRUD de las APIs debe agregar la ID en la urls</p>

  </main>

  {% include 'Importaciones/body_script.html' %}
</body>
</html>
